body {
  background-color: hsl(275, 100%, 97%);
}
.container-fluid {
  position: relative;
}
.container {
  position: absolute;
  width: 600px;
  height: 900px;
  margin: -200px 400px;
  border-radius: 10px;
  background-color: white;
}
.minus {
  margin-left: 100px;
}
.plus1 {
  margin-left: 295px;
}
.plus2 {
  margin-left: 90px;
}
.plus3 {
  margin-left: 5px;
}
.star {
  margin-right: 10px;
  width: 30px;
  margin-bottom: 5px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.card-body {
  color: grey;
}
.card {
  border: 0;
  background-color: white;
}
.card-header {
  background-color: white;
}
b {
  color: rgb(0, 0, 0);
  margin-left: -15px;
}
