* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg .bg-img {
  position: relative;
}
.bg-img {
  width: 1900px;
  height: 200%;
  margin-right: 1000px;
}

.container {
  width: 500px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);

  margin: -150px 40%;
  border-radius: 10px;
  position: absolute;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
}
h1 {
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
  margin-right: 350px;
  margin-bottom: 10px;
}
.star {
  width: 30px;
  margin-right: 20px;
}
h5 {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}
.minus {
  margin: 0 10px;
  width: 20px;
  margin-left: 120px;
}
.text {
  margin: 1px 30px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
hr {
  margin: 10px 30px;
  border-color: rgba(0, 0, 0, 0.059);
}
.plus {
  margin-left: 270px;
  width: 20px;
  padding-bottom: 0px;
}
.text-plus {
  display: flex;
  align-items: center;
}

.plus2 {
  width: 20px;
  margin-left: 115px;
}
.plus3 {
  width: 20px;
  margin-left: 47px;
}

h5 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
h5 a:hover {
  color: hsl(292, 90%, 52%);
}
@media screen and (max-width: 600px) {
  .container {
    width: 300px;
    height: 600px;
    background-color: hsl(0, 0%, 100%);

    margin: -150px 40%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
  }
  h1 {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 350px;
  }
  h1 img {
    width: 20px;
  }

  h5 img {
    margin: -4px 25px;
    width: 20px;
  }
  h1 span {
    margin-left: 25px;
  }
}
